# API Gateway — TZW LTD
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
AUTH_SERVICE_URL=http://localhost:5001
EXTINGUISHER_SERVICE_URL=http://localhost:5002
REPORTING_SERVICE_URL=http://localhost:5003
